/*Reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body {

    font-family: sans-serif;
}


/*Utils*/

.container {
    max-width: 900px;
    margin: 100px auto;
}


.row {

    display: flex;

    flex-direction: row;

    /*flex-wrap: wrap;*/


    gap: 10px;
}

.col {

    flex-basis: calc(100% / 3);



}

img {
    display: block;
    max-height: 922px;
}

.card {

    position: relative;
    cursor: pointer;

}

.discount {
    position: absolute;

    top: 0;
    right: 0;
    padding: 2px 5px;

    color: black;
    font-weight: bold;

}

/*inutile rendere le classi indipendenti */

.bg-red {
    background-color: red;



}

.bg-green {
    background-color: darkgreen;


}

.favourite {


    color: red;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    text-align: center;

    display: none;
    /*lo facciamo scomparire*/
}

/*quando passo sulla carta con il cursore deve comparire favourite*/

/* l'ultima cosa che scrivo è l'obbiettivo */
.card.card:hover .favourite {

    display: inline-block;


    /*tradotto significa che deve essere  il favourite della card su cui siamo in hover  */
}