/*Reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body {

    font-family: sans-serif;
}


/*Utils*/

.container {
    max-width: 900px;
    margin: 100px auto;
}


.row {

    display: flex;

    flex-direction: row;


    gap: 10px;
}

.col {

    flex-basis: calc(100% / 3);



}

img {
    display: block;
    max-height: 922px;
}

.card {


    position: relative;


}

.discount {
    position: absolute;

    top: 0;
    right: 0;
    padding: 2px 5px;


    color: black;
    background-color: darkgreen;
    font-weight: bold;

}