/*Reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body {

    font-family: sans-serif;
}


/*Utils*/

.container {
    max-width: 900px;
    margin: 0px auto;
}



header {
    background-color: orangered;

    height: 100px;

    margin-bottom: 20px;



}



.row {
    /*serve per tenere le cose in riga  genitore  */

    display: flex;
    /*quesot mi serve per il layout*/

    flex-direction: row;
    /*direzione */

    flex-wrap: wrap;
    gap: 10px;
    /*per mettere spazio tra i contenuti */

    /*proprietà del flex container */


}

.col {

    flex-basis: calc(100% / 3 - 20px/3);
    /*proprità  degli item perhè il genitore il row per avere tre colonne*/
    /*non mettere grow perchè questa proprietà se ho più contentuto si allaraga e non va bene */



}

img {
    display: block;
    /*serve per normalizzare l'immagine e soprattutto ricorda che il tag ha valenza semantica non è uno sfondo  */
    max-height: 922px;
    max-width: 100%;
}

.card {

    position: relative;


}

.discount {
    position: absolute;
    /*prezzo in alto a destra rispetto al padre ovvero la card*/

    top: 0;
    right: 0;
    padding: 2px 5px;

    color: #fff;
    font-weight: bold;


}

/*inutile rendere le classi indipendenti  dobbiamo centralizzare perchè alcuni prezzi sono rossi e alcuni verdi */

.bg-red {
    background-color: red;



}

.bg-green {
    background-color: darkgreen;


}


.card {

    display: inline-block;


}





/*in questo esercizio è importante flexbox per il layout  e il position per fare il lavoro di fino



melgio fare una rigra iniziale in modoto tale che se ho qualcos'altro da mettere posso andare a capo */